@forward "reset.scss";
/* styles ----------------- */

/* blocks */
html {
    font-size: 16px;
}
body {
    font-family: $font-family;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* tags styles -------------- */
h1, h2, h3, h4 {
    font-weight: 700;
    color: $black;
}

h1 {
    font-size: 6rem;
    line-height: 100%;
    letter-spacing: -0.04rem;
}

h2 {
    font-size: 3.6875rem;
    line-height: 120%;
    letter-spacing: -0.07375rem;
}

h3 {
    font-size: 2.25rem;;
    line-height: 140%;
    letter-spacing: -0.045rem;
}

h4 {
    font-size: 1.375rem;
    line-height: 140%;
    letter-spacing: -0.0275rem;
}

p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: $black;
}

p.text-sm {
    font-size: 0.875rem;
    color: $graphite;
}

p.text-lg {
    font-size: 1.375rem;
    text-align: center;
    color: $graphite;
}

a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
    color: $black;

    transition: .2s;
}

a:hover {
    color: $red;
}

button {
    display: block;
    padding: 20px 36px;

    border-radius: 8px;
    background: $black;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.25);

    font-family: $font-family;
    font-weight: 700;
    font-size: .875rem;
    line-height: 160%;
    color: $white;
    cursor: pointer;

    transition: .2s;
}

button.tag {
    padding: 6px 12px;

    border: 1px solid $graphite;
    border-radius: 4px;
    background: transparent;

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 160%;
    color: $graphite;
}

button:hover {
    background: $red;
    box-shadow: none;
}

input {
    display: block;
    padding: 20px;

    border: 1.50px solid $black;
    border-radius: 8px;
    background: transparent;

    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
    color: $black;
}

input::placeholder {
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: $graphite;
}

img {
    width: 100%;
    object-fit: cover;
}

/* container classes ----------- */
.container {
    max-width: 1200px;
    width: 100%;

    padding: 0 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}