/* _variables.scss */

/* colors */
$black: #000;
$graphite: #4d4d4d;
$white: #fff;
$red: #cd4631;
$blue-text: #81adc8;
$pink-bg: #f7ede8;
$blue-bg: #edf3f7;

/* fonts */
$font-family: "Montserrat Alternates", sans-serif;


